/*General*/

$color-light: #ffffff;
$color-yellow: #ffd32a;

body {
    margin: 0; 
    text-align: center;
     background: #fff;
     color: #3d3d3d;
     font-size: 16px;
     line-height: 1.7;
}

section {
    margin: 0 0 72px 0;

    .section-title {
        font-size: 40px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
   .section-subtitle {
   padding-top: 0;
   margin-top: 0;
   margin-bottom: 72px;
   }
}

/*Splash*/

.splash {
    margin: 0 0 72px 0;
    height: 100vh;
    position: relative;
    background-image: url(/images/img1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.name {

    margin: 0 36px 0 0;
    position: relative;
    left: -40%;
    top: 6%;
    margin: 0 36px 0 0;
    color: $color-yellow;
    font-size: 20px;
    font-style: italic;
}

.bar {
    position: relative;
    left: 25%;
   
}
.navigation {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin: 0 36px 0 0;
        position: relative;
    }

    a {
        text-decoration: none;
        color: $color-light;
    }
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .page-title {
        color: $color-light;
        font-size: 20px;
        margin: 48px 0 0 0;
        font-style: italic;
    }   

    .page-subtitle {
        color: $color-light;
        font-size: 50px;
        margin: 36px 0 0 0;
    }
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: $color-yellow;
    color: $color-light;
    background-color: $color-yellow; /*linear-gradient(90deg, $color-light 50%, transparent 50%);*/
    background-position: 100% 0;
    background-size: 300%;
}

/*Services*/

.box-row {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .box {
        flex: 0 0 33.333%;
        i {
            font-size: 30px;
            color: $color-yellow;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-style: solid;
            border-radius: 50%;
            border-color: $color-yellow;
            
        }
    }

}
 
/*Our portfolio*/

.our-portfolio {
    background-color: #adb5bd;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

    .grid-box {
        flex: 33.3333%;
        display: block;
        padding: 10px;
        max-width: 400px;
        margin-bottom: 120px;
        margin-top: 48px;
        z-index: 1;
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/*Footer*/

footer {  
    display: inline; 
    justify-content: center;     
    li {
    width: 100%;
    display: inline;
    }   
}
.social-media {
    text-align: center;

    a {
        font-size: 0;
    }

    i {

        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: white;
        background: black;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        
    }
    .fa-copyright {
        font-size: 14px;
        li {
            display: inline;
        }
        
    }
}

.copyright {
    text-align: left;
    position: relative;

    li {
        font-size: 14px;
        position: absolute;
        top: 20%;
        left: 20%;
}

    i {
        padding-right: 10px;
    }
}

/*Media*/

@media (max-width: 767px) {

    section {
        padding: 48px 0 0 0;
    }
    
    .section-title {
        margin: 0 0 36px 0;
        }
        
    .box {
        padding: 0 0 48px 0;
        flex-direction: column;
        }
    .name {
        display: none;
    }
    .navigation li {
        display: inline-block;
        margin: 0;
        position: relative;
        left: -25%;
    }

    footer {    
        display: block;
        li {
        width: 100%;
        list-style-type: none;
        }   
    }

    .copyright {
        text-align: center;
        position: relative;
    
        li {
            font-size: 14px;
            position: absolute;
            top: -30px;
            left: 15px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    section {
        padding: 48px 0 0 0;
    }
    
    .section-title {
        margin: 0 0 36px 0;
        }
        
    .box {
        padding: 0 0 48px 0;
        flex-direction: column;
        }
    .name {
        display: none;
    }
    .navigation li {
        display: inline-block;
        margin: 0 36px 0 0;
        position: relative;
        left: -25%;
    }

    footer {    
        display: block;
        li {
        width: 100%;
        list-style-type: none;
        }   
    }

    .copyright {
        text-align: center;
        position: relative;
    
        li {
            font-size: 14px;
            position: absolute;
            top: -30px;
            left: 15px;
        }
    }
}