.splash {
    margin: 0 0 72px 0;
    height: 100vh;
    position: relative;
    background-image: url(https://images.pexels.com/photos/3109167/pexels-photo-3109167.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}